* {
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: #d7d7d7;
  color: white;
}

.timer {
  width: 550vw;
  height: 10vh;
  padding:inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -275px;
  margin-top: -124px;
  color: white;
  object-fit: cover;
}
.timer * {
  cursor: default;
}
.timer h3 {
  width: 100%;
  font-size: 26px;
  letter-spacing: 4px;
  text-align: center;
}
.timer--clock {
  width: 100%;
  position: relative;
  padding-left: 6px;
  margin-top: 22px;
  overflow: hidden;
}
.timer--clock .clock-display-grp {
  width: 100%;
  position: relative;
}
.timer--clock .clock-display-grp .number-grp {
  width: auto;
  display: block;
  height: 156px;
  float: left;
  overflow: hidden;
}
.timer--clock .clock-display-grp .number-grp .number-grp-wrp {
  width: 50%;
  position: relative;
}
.timer--clock .clock-display-grp .number-grp .number-grp-wrp .num {
  width: 50%;
  position: relative;
  height: 156px;
}
.timer--clock .clock-display-grp .number-grp .number-grp-wrp .num p {
  width: auto;
  display: table;
  font-size: 205px;
  line-height: 150px;
  font-weight: bold;
}
.timer--clock .clock-separator {
  width: auto;
  float: left;
  display: block;
  height: 15px;
}
.timer--clock .clock-separator p {
  width: auto;
  display: table;
  font-size: 205px;
  line-height: 150px;
  font-weight: bold;
}

.reload {
  width: 125px;
  height: 14px;
  position: absolute;
  bottom: 50vh;
  left: 50%;
  margin-left: -62.5px;
  opacity: 0;
  display: none;
  cursor: pointer;
  z-index: 9999;
}
